page-cuisine{
  ion-content {
    background: url(../assets/imgs/newyork7.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
