page-list {

  ion-content {
    background: url(../assets/imgs/page2.JPG) repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
